* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 64px;
  background-color: #bb71ff;
}
.logo {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}
.menu {
  list-style: none;
  display: flex;
  li {
    margin-left: 20px;
  }
}
a:hover {
  color: antiquewhite;
  cursor: pointer;
  text-decoration: underline;
}
#logo:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
}

/* main */
.parallax {
  background-attachment: fixed; /*this background-attachment helps to make parallax*/
  /* background-position: center; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#para1 {
  background-image: url("herooffice1.avif");
}
#para2 {
  background-image: url("herooffice.avif");
}

h2{
  height: 120px;
  width: 60%;
  background-color: rgba(213, 209, 209, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}
header {
  background-color: aliceblue;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}

.item {
  height: 280px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 24px;
}
.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.img {
  height: 160px;
  width: 160px;
}
.title {
  font-size: 20px;
  font-weight: 500;
}
.price {
  color: #007bff;
}
button {
  height: 32px;
  width: 75px;
  background-color: rgb(81, 90, 255);
  border: none;
  border-radius: 4px;
  color: white;
  margin-bottom: 16px;
}
button:hover {
  cursor: pointer;
  background-color: #0056b3;
}
.footer {
  background-color: #bb71ff;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  font-size: 16px;
  font-weight: 600;
}

span {
  font-weight: 500;
  color: #f0faff;
}
.blog {
  border: 1px solid rgba(98, 94, 94, 0.2);
  border-radius: 2px;
  margin: 12px;
  height: 104px;
  background-color: #d3e4ee;
  cursor: pointer;
}
.blogTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 4px;
  padding: 4px;
}
.content {
  font-size: small;
  font-weight: 500;
  margin-left: 24px;
}
span {
  margin-left: 8px;
}
